body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.top-banner {
    background: url("./images/top-banner.png");
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 150px;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.half-width img {
    width: 100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    color: dimgray;
}

.orange-highlight {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}